body{ 
  font-family: "Sour Gummy", serif;
  text-align: center;
  margin: 0%;
  font-size: 25px;
}
 

.outputBox{
  min-height: 410px;
  width: 100%;
  background-color:#10d9d6;
  padding: 15px;
  height: 100%;
}

button{
  background-color: #d43deb;
  padding: 12px;
  font-family:  "Sour Gummy", serif;
  border: none;
}

button:hover{
  background-color: rgb(212, 61, 235);
  padding: 20px;
  font-family:  "Sour Gummy", serif;
  border: none;
  cursor: pointer;
}
  
*{
  box-sizing: border-box;
}


  
.column {
  float: left;
  flex: 50%;
  padding: 10px;
}
.row{
  height: 100vh; 
  display: flex;
  flex-wrap: wrap;
}

